/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* Columns */

#MainNav li ul li {
	width:100% !important;
}

#MainNav.col1 li {
	width:99.9%;
}

#MainNav.col2 li {
	width:50.0%;
}

#MainNav.col3 li {
	width:33.3%;
}

#MainNav.col4 li {
	width:25.0%;
}

#MainNav.col5 li {
	width:20.0%;
}

#MainNav.col6 li {
	width:16.6%;
}

#MainNav.col7 li {
	width:14.2%;
}

#MainNav.col8 li {
	width:12.5%;
}

#MainNav.col9 li {
	width:11.1%;
}

#MainNav.col10 li {
	width:10.0%;
}

/* General */

body {
	padding: 30px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.5;
	min-width: 1024px;
}

h1 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	margin: 0 0 5px 0;
	letter-spacing: 0.5px;
}

h2 {
	font-size: 14px;
}

h3 {
	font-size: 17px;
}

h4 {
	font-size: 15px;
}

a {
	text-decoration: none;
	color: #333333;
}

a:hover {
	text-decoration: underline;
}

ol, ul {
	list-style: none;
}

p {
	margin-right: 10%;
	color: #777777;
	font-weight: 300;
	padding-left: 22px;
}

.label {
	font-weight: 600;
	letter-spacing: 0.5px;
}

header {
	margin-bottom: 60px;
}

#SiteMap {
	margin: 0 0 40px 0;
}

/* Rules  */

.home-level {
	position: relative;
	padding: 0 0 120px 0;
	margin-bottom: -8px;
}

.main-level, .inner-level {
	position: relative;
	padding: 0 0 35px 0;
	margin-bottom: -16px;
}

.secondary-level {
	position: relative;
}

.branch-parent:before, .branch-parent:after, .branch-first-child:before, .branch-children:before, .branch-children:after, .branch-secondary:before, .branch-secondary:after {
	content: '';
	position: absolute;
	background-color: #CCCCCC;
}

.branch-parent:after {
	height: 1px;
	width: 100%;
	top: -45px;
	margin-left: 7px;
	background-color: #CCCCCC;
}

.branch-parent:before {
	height: 49px;
	top: -45px;
	right: -8px;
	width: 1px;
	background-color: #CCCCCC;
}

.branch-first-child:before {
	height: 100%;
	top: -4px;
	width: 1px;
	margin-left: 7px;
}

.branch-children:after {
	height: 1px;
	width: 15px;
	margin-top: 11px;
	margin-left: 7px;
}

.branch-children:before {
	height: 100%;
	top: 12px;
	width: 1px;
	margin-left: 7px;
}

.branch-secondary:after {
	margin-top: -20px;
	margin-left: 7px;
	height: 1px;
	width: 100%;
	background-color: #CCCCCC;
	padding-right: 53px;
}

.branch-secondary:before {
	margin-top: -20px;
	height: 28px;
	width: 1px;
	margin-left: 7px;
	background-color: #CCCCCC;
}

.main-level:last-child .branch-first-child:before {
	display: none;
}

#MainNav > li > ul > li:last-child > .branch-children:before, 
#MainNav > li > ul > li > ul > li:last-child .branch-children:before, 
#MainNav > li > ul:last-child > li:last-child > ul > li:last-child > .branch-children:before,
#MainNav > li > ul > li > ul > li > ul > li:last-child > .branch-children:before {
	display: none;
}

#FooterNav li:last-child .branch-secondary:after, #SecondaryNav li:last-child .branch-secondary:after {
	display: none;
}

/*
li li:last-child {
	padding-bottom: 0 !important;
	background-color: red;
}
*/

/* Main Navigation  */

#MainWrapper{
	overflow: hidden;
	margin: 0 0 40px 0;
}

#MainNav {
	overflow: hidden;
}

#MainNav #Home {
	float: none;
}

#MainNav li {
	float: left;
	position: relative;
}

#MainNav li h3 {
	background: url('./assets/page-lg.svg') left top no-repeat;
	padding-left: 22px;
}

#MainNav li h4 {
	background: url('./assets/page-sm.svg') left top no-repeat;
	padding-left: 22px;
	margin-left: 19px;
	margin-top: 2px;
}

#MainNav li a {
	display: block;
}


/* Inner Navigation */

#MainNav li li {
	width: 100%;
	padding-bottom: 20px;
}

#MainNav li li p {
	margin-left: 19px;
}

/* Inner Inner Navigation */

#MainNav li li ul {
	width: 100%;
}

#MainNav ul ul {
	margin: 0 0 0 19px;
}

#MainNav li li li a {
	width: 80%;
}

/* Secondary Navigation */

#SecondaryWrapper {
	position: relative;
	width: 75%;
	left: 25%;
	top: 6px;
}

#SecondaryNav {
	position: absolute;
}

#SecondaryNav p {
	padding: 0 0 40px 7px;
}

#SecondaryWrapper #SecondaryNav li {
	display: inline-block;
	padding-right: 50px;
}

#SecondaryWrapper #SecondaryNav li:last-child {
	padding-right: 0;
}

#SecondaryWrapper #SecondaryNav li h4 {
	background: url('./assets/link-sm.svg') left center no-repeat;
	padding-left: 22px;
}

/* Footer */

#FooterWrapper {
	position: relative;
	width: 100%;
}

#FooterNav p {
	padding: 0 0 40px 7px;
}

#FooterNav li {
	display: inline-block;
	padding-right: 50px;
}

#FooterNav li:last-child {
	padding-right: 0;
}

#FooterNav li h4 {
	background: url('./assets/link-sm.svg') left center no-repeat;
	padding-left: 22px;
}

@media screen and (max-width:480px) {

/* Mobile: Columns */

#MainNav li ul li, #MainNav.col1 li, #MainNav.col2 li, #MainNav.col3 li, #MainNav.col4 li, #MainNav.col5 li, #MainNav.col6 li, #MainNav.col7 li, #MainNav.col8 li, #MainNav.col9 li, #MainNav.col10 li {
	width:100%;
}

/* Mobile: General */

body {
	padding: 30px;
	min-width: 320px;
}

/* Mobile: Rules */

.branch-mobile:before, .branch-mobile:after {
	content: '';
	position: absolute;
	background-color: #CCCCCC;
}

.branch-mobile:after {
	height: 1px;
	width: 15px;
	margin-top: 11px;
	margin-left: -12px;
}

.branch-mobile:before {
	height: 100%;
	top: 12px;
	width: 1px;
	margin-left: -12px;
}

.branch-parent:before, .branch-parent:after, .branch-secondary:before, .branch-secondary:after {
	display: none;
}

li li:last-child .branch-children:before {
	display: inline;
}

li li:last-child {
	padding-bottom: 50px !important;
}

li li li:last-child {
	padding-bottom: 0 !important;
}

li li li:last-child .branch-children:before {
	display: none;
}

#SecondaryNav li:last-child .branch-mobile:before, #FooterNav li:last-child .branch-mobile:before {
	display: none;
}

.last li:last-child .branch-children:before {
	display: none;
}

/* Mobile: Secondary & Footer Navigation */

#SecondaryWrapper, #FooterWrapper {
	width: 100%;
	left: 0;
	top: 0;
}

#SecondaryNav, #FooterNav {
	position: inherit;
	padding: 0 0 30px 19px;
}

#SecondaryNav .mobile-SecondaryNav, #FooterNav .mobile-SecondaryNav {
	margin-left: -12px;
}

#SecondaryNav p, #FooterNav p {
	padding: 0 0 10px 0;
	margin-left: -12px;
}

#SecondaryWrapper #SecondaryNav li, #FooterWrapper #FooterNav li {
	display: block;
	padding-bottom: 20px;
	margin-bottom: -20px;
}


}